%% plugins
{plugins, [rebar3_hex, rebar3_elixir]}.

{deps, [
    {gpb, {git, "https://github.com/tomas-abrahamsson/gpb.git", {tag, "3.25.2"}}}
]}.

{erl_opts, [
    fail_on_warning
]}.

{pre_hooks, [
    {compile, "make priv/messages.nif.so"}
]}.

{post_hooks, [
    {clean,
        "sh -c 'for file in proto/*.proto; "
        "do "
        "  rm -f src/$(basename $file .proto).erl; "
        "  rm -f include/$(basename $file .proto).hrl; "
        "done'"
    }
]}.

{clean_files, [
    "build",
    "priv/*.so",
    "include"
]}.
